body { padding-top: 52px }

.overlay {
    background: rgba(2, 2, 2, .6);
    min-height: 620px;
    color: #FFF
}

/* Start Navbar */

.navbar-default .navbar-brand {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-right: 120px;
    font-weight: bold;
    font-size: 25px;
    color: #000
}

.navbar-default .navbar-brand .g {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #e61302;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 2px;
    padding:3px 6px;
    font-size: 30px;
    color: #FFF;
}

.navbar-default .navbar-brand:hover { background-color: #e61302; color: #FFF }

.navbar-default .navbar-brand:hover .g { background-color: #FFF; color: #e61302 }

/* Start Navbar */

.navbar-default .navbar-nav > li { margin-right: 1px }

.navbar-default .navbar-nav > li > a {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-weight: bold;
    font-size: 16px;
    color: #000
}

.navbar-default .navbar-nav > li > a:hover { background-color: #e61302; color: #FFF; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #e61302;
    font-weight: bold;
    color: #FFF
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus { background-color: #e61302; color: #FFF }

/* Start dropdown Menu */

.dropdown-menu { min-width: 200px }

.dropdown-menu > li > a {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #e61302;
    padding-left: 25px;
    color: #FFF
}

.dropdown-menu .divider { background-color: #e61302 }

/* Start Search and button Search */

.navbar-form .form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 19, 2, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 19, 2, .6);
    border-color: #e61302
}

.btn-default {
    background-color: #e61302;
    border-color: #e61302;
    font-weight: bold;
    color: #FFF
}

.btn-default i { margin-right: 5px }

.btn-default:hover {
    background-color: #FFF;
    border-color: #e61302;
    color: #e61302
}

/* End Navbar */

/* Start Header */

header {
    background: url('../image/background-header.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 610px;
    width: 100%;
}

header h1 {
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    display: inline-block;
    padding: 4px 8px;
    margin-top: 150px;
    font-weight: bold
}

header .g {
    background-color: #e61302;
    border-radius: 5px;
    padding: 3px 10px
}

header .wel { max-width: 600px; margin: auto }

header p { margin-top: 50px }

header .wander {
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    border: 1px solid #e61302;
    background-color: #e61302;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 70px;
    font-size: 20px
}

header .wander:hover {
    border: 1px solid #FFF;
    background-color: #FFF;
    color: #e61302;
}

/* End Header */

/* Start About Us */

.about {
    padding-bottom:60px;
    padding-top:70px;
    min-height: 610px
}

.about h2 {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    display: inline-block;
    font-weight: bold;
    padding: 5px 8px;
    margin: auto
}

.about p {
    padding: 16px 145px;
    line-height: 1.5em;
    margin-top: 75px;
    
}

/* End About Us */

/* Start News */

.news {
    border-top: 2px solid #000;
    padding-bottom:60px;
    padding-top:70px;
}

.news h2 {
    border-bottom: 1.5px solid #000;
    border-top: 1.5px solid #000;
    display: inline-block;
    margin-bottom: 100px;
    font-weight: bold;
    padding: 5px 8px
}

.news .img { padding-right: 0; padding-left: 0 }

.news .info {
    margin-bottom: 60px;
    padding-right: 0;
    padding-left: 0
}

.news .info p { padding: 50px 35px 0 }

.info .but-news {
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    border: 1px solid #e61302;
    background-color: #e61302;
    border-radius: 5px;
    padding: 8px 12px;
    margin-top: 20px;
    color: #FFF
}

.info .but-news:hover {
    border: 1px solid #e61302;
    background-color: #FFF;
    color: #e61302
}

/* End News */

/* Start Contact Us */

.contact-us {
    background: url(../image/background-contact-us.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 610px;
    width: 100%;
}

.contact-us h2 {
    border-bottom: 1.5px solid #e61302;
    border-top: 1.5px solid #e61302;
    display: inline-block;
    font-weight: bold;
    margin-top: 60px;
    padding: 5px 8px
}

.contact-us .row { padding-bottom:60px; padding-top:60px }

.contact-us .row .input-lg {
    background: rgba(2, 2, 2, .5);
    border: none;
    color: #FFF
}

.contact-us .form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 19, 2, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 19, 2, .6); 
}

.contact-us .row textarea.input-lg { height: 120px }

.contact-us .row .send {
    background-color: #e61302;
    border: 1px solid #e61302;
    letter-spacing: 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    height: 40px
}

.contact-us .row .send:hover {
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    border: 1px solid #e61302;
    background-color: #FFF;
    color: #e61302
}

.contact-us .row .contact { padding-left: 50px }

.contact-us .row .contact .cont { margin-bottom: 20px }

/* End Contact Us */

/* Start Footer */

footer { min-height: 45px }

footer .copy { line-height: 45px; font-size: 17px }

footer .social-media { line-height: 40px }

footer .social-media i {
    margin-right: 10px;
    border-radius: 3px;
    line-height: 30px;
    margin-top: 6px;
    height: 30px;
    width: 30px;
    color: #FFF
}

footer .social-media .fa-facebook { background-color: #3b5998 }

footer .social-media .fa-twitter { background-color: #1da1f2 }

footer .social-media .fa-youtube { background-color: #e61302 }

footer .social-media .fa-google-plus  { background-color: #db4437 }

/* End Footer */